################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AspNet.Identity.Dapper/bin/Debug
/AspNet.Identity.Dapper/obj/Debug
/AspNet.Identity.Dapper/packages
/WebDemo/bin
/WebDemo/obj/Debug
